[Unit]
Description=Pause playerctl when sound device changes
After=sound.target pipewire.service

[Service]
Type=oneshot
ExecStart=/usr/bin/playerctl pause